@inherits LayoutComponentBase

<div class="app-layout">
    <Sidebar />

    <div class="app-main">
        <TopBar PageTitle="@_pageTitle" />

        <main class="app-content">
            @Body
        </main>
    </div>
</div>

@code {
    private string _pageTitle = "Home";
}
